
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

table td{
	padding: 10px;
}

.skladniki, .tresc-przepisu {
  br {
    display: none;
  }

  h2 {
    font-size: 20px;
  }
}

body {
  background-color: #FFFFE0;
}

a {
  color: #333;
}

.btn-default{
  color: #333;
}

ul.pagination > li > a {
  color: #333;
  background-color: white;
}

ul.pagination >li.active a, ul.pagination > li.active:hover a  {
  background-color: #e6e6e6;
  color: #333;
}
