<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś zażądał link do zmiany hasła. Można to zrobić za pośrednictwem linku poniżej.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli to nie ty, zignoruj tę wiadomość.</p>
<p>Twoje hasło nie zmieni się dopóki masz dostęp do linku wyżej.</p>
